# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.pdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe*
*.out
*.app

# Build folder
build/

# Ini files
*.ini

# other
**/*.log

# vscode
.vscode/

src/app_info/app_info.hpp